allow kernel netmgrd:process setsched;
allow kernel platform_app:process setsched;
allow kernel priv_app:process setsched;
allow kernel qmuxd:process setsched;
allow kernel radio:process setsched;
allow kernel surfaceflinger:process setsched;
allow kernel system_app:process setsched;
allow kernel system_server:process setsched;
allow kernel tee:process setsched;
allow kernel thermal-engine:process setsched;
allow kernel time_daemon:process setsched;
allow kernel untrusted_app:process setsched;
allow kernel zygote:process setsched;
